body {
  font-size: 0.7em;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0;
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
}
.tile1 {
  flex-grow: 1;
  flex-shrink: 1;
  flex: 45vw;
}
.tile2 {
  flex-grow: 1;
  flex-shrink: 0;
  flex: 45vw;
}
.tile3 {
  flex-grow: 1;
  flex-shrink: 0;
  flex: 100vw;
}
