body {
  font-size: 0.7em;
}

.home {
  padding: 26px 20px;
  min-height: 100%;
  width: 100%;
}

.workspace{
  position: absolute;
  top: 30px;
  width: 100%;
  padding-left: 55px;
  padding-right: 2px;
  z-index: 1;
}