.chronology ul {
    list-style-type: none;
  }

.chronology li {
    padding: 0.3em;
}

.chronology li:hover {
    background: #BcBcBc;
    cursor: pointer;
}

.chronology .openParticipation {
    background: rgba(255, 166, 0, 0.86);
}