.tabs {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.tabs > li {
  display: inline-block;
  padding: 0.2rem 1rem;
  margin: 0 0.5rem;
}
.selectedTab {
  color: white;
  background-color: rgb(77, 59, 59);
}
.deselectedTab {
  cursor: pointer;
  color: #333;
}
.deselectedTab:hover {
  color: white;  
  background-color: #00b;
}

.filter{
  display: block;
  margin: 0;
  padding: 1em 2em;
  background-color: lightgray;
  border: solid 1px rgb(77, 59, 59);
  height: 30vh;
  overflow-y: auto;
}

.filter dd:hover {
  cursor: pointer;
  background-color: rgb(67, 157, 185);  
}

.textsearch{
  display: block;
  padding: 1em 2em;
  background-color: lightgray;
  border: solid 1px rgb(77, 59, 59);
  height: 30vh;
  overflow-y: auto;
}

.toplist{
  display: block;
  padding: 1em 2em;
  background-color: lightgray;
  border: solid 1px rgb(77, 59, 59);
  height: 30vh;
  overflow-y: auto;
}
.toplist div ul span:hover {
  cursor: pointer;
  background-color: rgb(67, 157, 185);  
}

.hidden {
  display:none;
}