.filter{
    display: block;
    width: 30em;
    padding: 2em 4em;
    background-color: lightgray;
    border: solid 1px AliceBlue;
  }

  .filter dd:hover {
    cursor: pointer;
    background-color: rgb(67, 157, 185);  
  }
  
  .textsearch{
    margin-top: 30px;
    display: block;
    max-width: 30em;
    padding: 2em 4em;
    background-color: lightgray;
    border: solid 1px AliceBlue;
  }

  .toplist{
    display: block;
    max-width: 30em;
    padding: 2em 4em;
    background-color: lightgray;
    border: solid 1px AliceBlue;
  }
  
  .hidden {
    display:none;
}