.hitlist{
  background-color: lightgray;
  border: solid 1px AliceBlue;
}
.hitlistLeft{
  float: left;
  border: solid 1px AliceBlue;
}
.hitlistRight{
  float: left;
  border: solid 1px AliceBlue;
}
.hitlistBottom{
  float: bottom;
  border: solid 1px AliceBlue;
}
.hitlist ul li {
    cursor: pointer;
}

.timeline{
 float: bottom;
}
